.c-sub-header {
  padding: 10px+50px 0 50px 0;
  background-color: color('main');
  background-size: 64px 128px;
  color: color('light-grey');

  &__title {
    padding: 12px 0;
    font-size: 36px;
    font-weight: $bold;
    line-height: 1.6em;
  }

  &__sub-title {
    font-size: 24px;
    line-height: 1.2em;
  }
}

@media (max-width: 768px) {
  .c-sub-header {
    &__title {
      font-size: 28px;
      line-height: 1.4em;
    }

    &__sub-title {
      padding-top: 12px;
      font-size: 20px;
      line-height: 1.2em;
    }
  }
}